/* This is your CSS files */
body {
    color: black;
    font-family: 'Roboto';
    margin: 0px;
}

nav {
    display: flex;
    background-color: #dc4c3e;
    color: #fff;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

#search {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin-left: 16px;
    padding-left: 40px;
    background-image: url("assets/search_icon.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;
    min-height: 32px;
    min-width: 250px;
}

#search::placeholder {
    color: #fff;
}

#done-count {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#done-count > span {
    margin-left: 4px;
}

#content {
    display: flex;
    flex-direction: row;
}

#folders {
    background-color: #fefbf2;
    color: #000;
    flex-basis: 300px;
    height: 98vh;
    padding: 16px 20px;
}

#tasks {
    background-color: #fff;
    padding: 16px 40px;
    flex-grow: 1;
}

h1 {
    font-size: 20px;
}

.task {
    padding: 16px 0px;
}

.task:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.task > span {
    margin-left: 8px;
}

#folders-list, #tasks-list {
    list-style-type: none;
    padding-left: 0px;
}

.folder {
    display: flex;
    align-items: center;
    padding: 6px 4px;
}

.folder:hover {
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.folder:hover > .folder-title {
    font-weight: 600;
}

.folder-title {
    margin-left: 6px;
}

.folder-task-count {
    color: #7e7d79;
    margin-left: 6px;
    font-size: 12px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #15b163;
    border-color: #15b163;
}

input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
     width: 6px;
     height: 12px;
     border: solid #fff;
    border-width: 0 2px 2px 0;
}

 @media (max-width: 480px) {
    #folders {
        display: none;
    }

    #search {
        min-width: unset;
    }
 }